@import "node_modules/bulma/sass/utilities/initial-variables";

$red: #FF3F3F;
$blue: #1A5EE2;
$blue-darker: #024AD6;
$primary: $blue;
$yellow: #FFB217;
$yellow-darker: #ECA10A;
$grey-darker: #393939;
$grey-lighter: #C4C4C4;

$radius: 4px;

$family-roboto: "Roboto", sans-serif;
$family-sans: "Open Sans", sans-serif;

$family-primary: $family-sans;
