// primaty collors
$coral: #f87b4a;
$havelock-blue: #597ce1;
$onahau: #cee2ff;

// secondary colors
$turquoise: #2fd9b3;
$carnation: #f34857;
$blue-bayoux: #495d7b;
$alice-blue: #f2f9ff;
$geyser: #dde3e7;

// grayscale
$mine-shaft: #2f2f2f;
$dove-gray: #616161;
$silver: #C4C4C4;
$white: #ffffff;

//based
$coral-light: #f8d24a;

// aditional
$alabaster: #F7F7F7;
$pinkish-orange-two: #fe774a;

// another
// (D) - bellow apply new variables from
// another future designer
$alto: #DEDEDE;
$silver-chalice: #A7A7A7;
$concrete: #F2F2F2;

//(I)
// oranges
$outrageous-orange: #FF6633;
$flesh: #FFC3A0;

// blues
$cornflower-blue: #708FE7;
$zircon: #F3F8FF;

// others
$san-juan: #354c6d;
$cornflower-blue-dark: #708fe7;

// plans page colors
$bali-hai: #919DAF;
$foam: #f2f9fe;
$cornflower-blue: #6195ED;
$mystic: #E0E9EF;
$mercury: #E1E1E1;
$polar: #F6FAFD;
$aluminium: #A5A9B5;
$botticelli: #DAE5EF;
$blue-bayoux: #485B78;
$burnt-sienna: #EB5757;
$silver-chalice: #9F9F9F;
$selago: #F4F8FE;
$black-squeeze: #EFF3F9;
$mystic: #E3E8EF;
$nobel: #B7B7B7;

// Tomo
$solitude: #E0EAFF;
$rock-blue: #A0B0D2;
$link-water: #DDE8F4;
$limed-spruce: #3B5157;
$gray-chateau: #9DA5B0;
$hawkes-blue: #DFEEFB;
