.vscode
.idea
.env
.ctags
.DS_STORE
.DS_Store
.phpcd
.lvimrc
.yarnclean
vendor
node_modules
bower_components
public/storage
public/photos
public/build
public/css
public/js
resources/assets/builds
storage/*.key
storage/debugbar
storage/database-dev.sqlite
yarn-error.log
npm-debug.log
Homestead.json
Homestead.yaml
tags
